<!DOCTYPE html>
<html>
<head>
  <title>VoiceAnswer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body style="background: #DBD5F9">
		<nav class="navbar navbar-inverse">
	  		<div id="menu" class="container-fluid">
	  			<div class="row">
		    		<div class="col-xs-12">	
		    			<div class="navbar-header">
							<ul class="nav navbar-nav">
								<% if current_page?(root_path) %>
	  								<li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
	  								<li role="presentation"><%= link_to 'Questions', questions_path %></li>
	  								<% if user_signed_in? %>
	  									<li role="presentation"><%= link_to 'Logout', :destroy_user_session, :method => :delete, data: { confirm: 'You wanna logout?' } %></li>
	  									</ul>
	  									<p class="navbar-text navbar-right">Signed in as <%= current_user.email %></li>
	  								<% else %>
	  									<li role="presentation"><%= link_to 'Register', :new_user_registration %></li>
	  									<li role="presentation"><%= link_to 'Login', :new_user_session %></li>
	  								<% end %>
	  							<% elsif current_page?(:questions) %>
	  								<li role="presentation"><%= link_to 'Home', root_path %></li>
	  								<li role="presentation" class="active"><%= link_to 'Questions', questions_path %></li>
	  								<% if user_signed_in? %>
	  									<li role="presentation"><%= link_to 'Logout', :destroy_user_session, :method => :delete, data: { confirm: 'You wanna logout?' } %></li>
	  									</ul>
	  									<p class="navbar-text navbar-right">Signed in as <%= current_user.email %></li>
	  								<% else %>
	  									<li role="presentation"><%= link_to 'Register', :new_user_registration %></li>
	  									<li role="presentation"><%= link_to 'Login', :new_user_session %></li>
	  								<% end %>

	  							<% elsif current_page?(:new_user_registration)%>
	  								<li role="presentation"><%= link_to 'Home', root_path %></li>
	  								<li role="presentation" class="active"><%= link_to 'Register', :new_user_registration %></li>
	  								<li role="presentation"><%= link_to 'Login', :new_user_session %></li>
	  							<% elsif current_page?(:new_user_session)%>
	  								<li role="presentation"><%= link_to 'Home', root_path %></li>
	  								<li role="presentation"><%= link_to 'Register', :new_user_registration %></li>
	  								<li role="presentation" class="active"><%= link_to 'Login', :new_user_session %></li>
	  							<% end %>
							</ul>
						</div>

						<div class="navbar-body">
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div id="main-container" class="container">
			<div id="content" class="row">
				<div class="col-xs-2"></div>
				<div class="col-xs-8">
				<canvas id="canvas" width="600" height="480" style="border: 1px solid black"></canvas>

		<script type="text/javascript">
			var barHeight, barWidth, playerPositionX;

			function start() {
				ballArea = 10;
				ballPosX = canvas.width / 2;
				ballPosY = -10;
				ballSpeed = 20;
				colision = false;

				barHeight = 15;
				barWidth = 90;

				playerPositionX = (canvas.width - barWidth)/2;
				playerSpeed = 40;
				playerScore = 0;

				canvas = document.getElementById('canvas');
				context = canvas.getContext('2d');

				context.fillStyle="#FF0000";
				context.fillRect(playerPositionX, canvas.height - barHeight, barWidth, barHeight);
				document.addEventListener('keydown', keyDown);
				setInterval(gameLoop, 30);
			}

			function keyDown(e) {
				if (e.keyCode == 37) {
					if (playerPositionX > 0) {
						playerPositionX -= playerSpeed;
					} else if (playerPositionX <= 0) {
						playerPositionX
					}
				}

				if (e.keyCode == 39) {
					if (playerPositionX < (canvas.width - barWidth)) {
						playerPositionX += playerSpeed;
					}
				}

				context.fillRect(playerPositionX, canvas.height - barHeight, barWidth, barHeight);
			}

			function gameLoop() {				
				context.clearRect(0, 0, canvas.width, canvas.height);

				if (ballPosY <= canvas.height) {
					ballPosY += ballSpeed;
				} else {
					ballPosX = Math.random() * 600;
					ballPosY = -10;
					colision = false;
				}

				if ((ballPosX > playerPositionX && ballPosX < playerPositionX + barWidth) && ballPosY >= canvas.height - barHeight && colision == false )  {
					playerScore++;
					colision = true;
				}

				context.font = '32pt Tahoma';
				context.fillText(playerScore, canvas.width - 70, 50);

				context.beginPath();
				context.arc(ballPosX, ballPosY, ballArea, 0, Math.PI * 2, true);
				context.fill();

				context.fillRect(playerPositionX, canvas.height - barHeight, barWidth, barHeight);
			}
		</script>
					<%= yield %>
				</div>
				<div class="col-xs-2"></div>
			</div>
		</div>
	</body>
</html>