<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @professor.matricula %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @professor.senha %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @professor.foto %>
</p>

<%= link_to 'Editar', edit_professor_path(@professor) %> |
<%= link_to 'Voltar', professors_path %>
